#page {
	margin: 0px;
	padding: 0px;
	/*width: 945px;*/
	width: 100%;
	background-color:#fcfcfc;
}
.content-primary {
	margin: 0px;
	padding: 0px;
	width: 100%;
}
.content-secondary {
	margin: 0px;
	padding: 0px;
	width: 100%;
}
#map_canvas {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 800px;

	/*width: 945px;*/
}
/* footer text */
.footer {
	color: #77787b;
	font-size: 12px;
	padding:10px;
}




h1, h2 {
	color: #5D95CA;
}
h3 {
	color: #3B4A66;
}

#map_canvas label {
	width: auto;
	display:inline;
}


/* top bar */
#search {
	font-size: 1em;
	margin:0px;
	background-color: #274976;
	padding: 10px;
	min-height:24px;
}
#ddSchoolName {
	width: 310px;
}


.blue {
	color: #274976;
}.green {
	color: #060;
}
.orange {
	color: #F90;
	color: #C90;
	color: #dd8500;
}
.purple
{
    color: #606;
}
#versionbox {
	float:right;
	text-align:right;
	margin-top: 3px;
	font-size: 11px;
}
#version {
	max-width: 350px;
}
a.version {
	font-size: 11px;
}
.clear {
	clear: both;
	height:0px;
}
/* overrides legend */
.popover-content {
padding: 9px 5px;
/*
#label-yellow
{
    color: #cc9900;
}
#label-green
{
    color: #060;
}
#label-blue
{
    color: #36C;
}
#label-purple
{
    color: #cc66cc;
}
#label-red
{
    color: #d73e3e;
}
#label-grey
{
    color: #555;
}
#label-orange
{
    color: #F90;
}
#label-community
{
    color: #363;
}
#label-wards
{
    color: #623100;
}
#label-zipcode
{
    color: #351c75;
}
*/
